<aside class="main-sidebar">
  <header class="main-header clearfix">
    <a class="logo" routerLink="/admin-dashboard">
      <img src="build/assets/sidebar-logo-ltr.svg" alt="sidebar logo" />
    </a>

    <a class="sidebar-logo-mini" routerLink="/dashboard">
      <img src="build/assets/sidebar-logo-mini.svg" alt="sidebar logo mini" />
    </a>

    <a
      href="javascript:void(0);"
      class="sidebar-toggle"
      (click)="toggleSidebar()"
    >
      <!-- icon -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M15.0001 19.92L8.48009 13.4C7.71009 12.63 7.71009 11.37 8.48009 10.6L15.0001 4.07996"
          stroke="#292D32"
          stroke-width="3"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
  </header>

  <section class="sidebar">
    <ul class="sidebar-menu">
      <li routerLinkActive="active">
        <a routerLink="/app-layout/dashboard">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li [class.active]="isProductsOpen" class="treeview">
        <a href="javascript:void(0);" (click)="toggleMenu('products')">
          <i class="fa fa-cube"></i>
          <span>Products</span>
          <span class="pull-right-container">
            <i
              class="fa"
              [ngClass]="{
                'fa-angle-down': isProductsOpen,
                'fa-angle-left': !isProductsOpen
              }"
            ></i>
          </span>
        </a>
        <ul class="treeview-menu" *ngIf="isProductsOpen">
          <li routerLinkActive="active">
            <a routerLink="/app-layout/admin-products-create">
              <i class="fa fa-angle-double-right"></i> Create Product
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/app-layout/app-products">
              <i class="fa fa-angle-double-right"></i> All Products
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/app-layout/admin-categories">
              <i class="fa fa-angle-double-right"></i> Categories
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/app-layout/app-brands">
              <i class="fa fa-angle-double-right"></i> Brands
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/app-layout/variations">
              <i class="fa fa-angle-double-right"></i> Variations
            </a>
          </li>
        </ul>
      </li>

      <li [class.active]="isSalesOpen" class="treeview">
        <a href="javascript:void(0);" (click)="toggleMenu('sales')">
          <i class="fa fa-dollar"></i>
          <span>Sales</span>
          <span class="pull-right-container">
            <i
              class="fa"
              [ngClass]="{
                'fa-angle-down': isSalesOpen,
                'fa-angle-left': !isSalesOpen
              }"
            ></i>
          </span>
        </a>
        <ul class="treeview-menu" *ngIf="isSalesOpen">
          <li routerLinkActive="active">
            <a routerLink="/app-layout/admin-orders">
              <i class="fa fa-angle-double-right"></i> Orders
            </a>
          </li>
        </ul>
      </li>

      <li [class.active]="isUsersOpen" class="treeview">
        <a href="javascript:void(0);" (click)="toggleMenu('users')">
          <i class="fa fa-users"></i>
          <span>Users</span>
          <span class="pull-right-container">
            <i
              class="fa"
              [ngClass]="{
                'fa-angle-down': isUsersOpen,
                'fa-angle-left': !isUsersOpen
              }"
            ></i>
          </span>
        </a>
        <ul class="treeview-menu" *ngIf="isUsersOpen">
          <li routerLinkActive="active">
            <a routerLink="/app-layout/admin-users">
              <i class="fa fa-angle-double-right"></i> All Users
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
