<!-- Left Sidebar -->
<div class="left-side">
  <app-sidebar></app-sidebar>
</div>

<!-- Main Wrapper -->
<div class="wrapper">
  <div class="content-wrapper">
    <app-top_nav></app-top_nav>

    <!-- <section class="content-header clearfix">
      <h1>{{ contentHeader }}</h1>
    </section>

    <section class="content">
      <app-notification></app-notification>
      <router-outlet></router-outlet>
    </section> -->

    <div id="notification-toast"></div>
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <app-footer></app-footer>
<app-confirmation-modal></app-confirmation-modal> -->