<div class="product-form-wrapper">
  <h3 class="product-form-title">Create Product</h3>
  <div class="row">
    <!-- Bên trái: Nội dung -->
    <div class="col-md-8">
      <div class="product-form-section">
        <h3>General</h3>
        <div class="form-group mb-3">
          <label for="name">Name <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="name" />
        </div>

        <div class="form-group mb-3">
          <label for="editor">Description</label>
          <editor
            apiKey="cfy8qxfif7xhurpo8wuiw0jygns85n4xv0sov5nbzu4n82d0"
            id="editor"
            [init]="{
              height: 300,
              menubar: false,
              plugins: [
                'advlist',
                'autolink',
                'lists',
                'link',
                'image',
                'charmap',
                'preview',
                'anchor',
                'searchreplace',
                'visualblocks',
                'code',
                'fullscreen',
                'insertdatetime',
                'media',
                'table',
                'help',
                'wordcount',
                'quickbars'
              ],
              toolbar:
                'undo redo | formatselect | bold italic underline forecolor backcolor | ' +
                'alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent |  code fullscreen',
              quickbars_insert_toolbar: 'image table',
              quickbars_selection_toolbar: 'bold italic link',
              contextmenu: false
            }"
          ></editor>
        </div>

        <div class="form-group mb-3">
          <label for="brand">Brand <span class="text-danger">*</span></label>
          <select id="brand" class="form-select">
            <option>Please Select</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="categories"
            >Categories <span class="text-danger">*</span></label
          >
          <select id="categories" class="form-select">
            <option>Please Select</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="taxclass"
            >Tax Class <span class="text-danger">*</span></label
          >
          <select id="taxclass" class="form-select">
            <option>Please Select</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="tags">Tags <span class="text-danger">*</span></label>
          <select id="tags" class="form-select">
            <option>Please Select</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label class="form-label" for="enableProduct">
            Status <span class="text-danger">*</span>
          </label>
          <label class="custom-switch">
            <input type="checkbox" id="enableProduct" checked />
            <span class="slider"></span>
            <span class="switch-label">Enable the product</span>
          </label>
        </div>
      </div>
      <!-- Attributes -->
      <div class="attribute-box">
        <h3>Attributes</h3>
        <hr class="attribute-divider" />
        <div class="attribute-table">
          <div class="attribute-table-header">
            <span>Attribute</span>
            <span>Values</span>
          </div>
          <div class="attribute-row">
            <span class="material-icons drag-icon">drag_indicator</span>
            <select class="form-control">
              <option>Please Select</option>
            </select>

            <input
              type="text"
              class="form-control"
              placeholder="Enter attribute values"
            />

            <button type="button" class="delete-icon">
              <i class="fas fa-trash-alt text-danger"></i>
            </button>
          </div>
        </div>
        <button type="button" class="btn btn-sm btn-light mt-2">
          Add Attribute
        </button>
      </div>

      <!-- Variation -->
      <div class="product-form-section mt-4">
        <h3>Variations</h3>
        <hr class="section-divider" />
        <div class="card">
          <div
            class="card-header d-flex justify-content-between align-items-center bg-light"
          >
            <span class="d-inline-flex align-items-center">
              <i class="material-icons me-1">drag_indicator</i>
              <span style="position: relative; top: -6px">New Variation</span>
            </span>
            <button
              type="button"
              style="background: none; border: none; padding: 0"
            >
              <i class="fas fa-trash-alt text-danger"></i>
            </button>
          </div>
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="variationName">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="variationName"
                  placeholder="Enter variation name"
                />
              </div>

              <div class="form-group col-md-6">
                <label for="variationType">Type</label>
                <select class="form-control" id="variationType">
                  <option>Please Select</option>
                  <option>Color</option>
                  <option>Size</option>
                  <option>Material</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="variation-actions">
          <button class="btn btn-secondary">Add Variation</button>
          <div style="display: flex; gap: 0.5rem">
            <select class="form-control" style="width: 160px">
              <option>Select Template</option>
            </select>
            <button
              class="btn btn-light"
              disabled
              style="position: relative; top: -11px"
            >
              Insert
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Bên phải: Media và Pricing -->
    <div class="product-form-right-column col-lg-4 col-md-12">
      <div class="product-form-column" data-name="product-form-right-sections">
        <!-- Media -->
        <div class="box mb-3" data-draggable="true">
          <div class="box-header">
            <h3>Media</h3>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <div class="product-media-grid">
                  <div class="media-grid-item media-picker disabled">
                    <div class="image-holder">
                      <img
                        src="/images/placeholder_image.png"
                        class="placeholder-image"
                        alt="Image from public"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Pricing -->
        <div class="box mt-3" data-draggable="true">
          <div class="box-header">
            <h3>Pricing</h3>
          </div>
          <div class="box-body">
            <!-- Price -->
            <div class="form-group">
              <label for="price"
                >Price <span class="text-danger">*</span></label
              >
              <div class="custom-input-group">
                <span class="custom-input-symbol">$</span>
                <input
                  type="number"
                  class="form-control custom-input"
                  id="price"
                  placeholder="Enter price"
                />
              </div>
            </div>

            <!-- Special Price -->
            <div class="form-group">
              <label for="specialPrice">Special Price</label>
              <div class="custom-input-group">
                <span class="custom-input-symbol">$</span>
                <input
                  type="number"
                  class="form-control custom-input"
                  id="specialPrice"
                  placeholder="Enter special price"
                />
              </div>
            </div>

            <!-- Special Price Type -->
            <div class="form-group">
              <label for="specialPriceType">Special Price Type</label>
              <div class="custom-input-group">
                <span class="custom-input-symbol">%</span>
                <select id="specialPriceType" class="form-control custom-input">
                  <option value="fixed">Fixed</option>
                  <option value="percent">Percent</option>
                </select>
              </div>
            </div>

            <!-- Special Price Start -->
            <div class="form-group">
              <label for="specialPriceStart">Special Price Start</label>
              <div class="custom-input-group">
                <span class="custom-input-symbol"
                  ><i class="fa fa-calendar"></i
                ></span>
                <input
                  type="date"
                  class="form-control custom-input"
                  id="specialPriceStart"
                />
              </div>
            </div>

            <!-- Special Price End -->
            <div class="form-group">
              <label for="specialPriceEnd">Special Price End</label>
              <div class="custom-input-group">
                <span class="custom-input-symbol"
                  ><i class="fa fa-calendar"></i
                ></span>
                <input
                  type="date"
                  class="form-control custom-input"
                  id="specialPriceEnd"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- INVENTORY BOX -->
        <div class="box" data-draggable="true">
          <div class="box-header">
            <h3>Inventory</h3>
          </div>
          <div class="box-body">
            <!-- SKU -->
            <div class="form-group">
              <label for="sku">SKU</label>
              <input
                type="text"
                class="form-control"
                id="sku"
                placeholder="Enter SKU"
              />
            </div>

            <!-- Inventory Management -->
            <div class="form-group">
              <label for="inventoryManagement">Inventory Management</label>
              <select id="inventoryManagement" class="form-select">
                <option value="no-track">Don't Track Inventory</option>
                <option value="track">Track Inventory</option>
              </select>
            </div>

            <!-- Stock Availability -->
            <div class="form-group">
              <label for="stockAvailability">Stock Availability</label>
              <select id="stockAvailability" class="form-select">
                <option value="in-stock">In Stock</option>
                <option value="out-of-stock">Out of Stock</option>
              </select>
            </div>
          </div>
        </div>
        <!-- Additional -->
        <div class="box" data-draggable="true">
          <div class="box-header">
            <h3>Additional</h3>
          </div>
          <div class="box-body">
            <!-- Short Description -->
            <div class="form-group">
              <label for="short-description">Short Description</label>
              <textarea
                class="form-control"
                id="short-description"
                placeholder="Enter short description"
              ></textarea>
            </div>
            <!-- New From -->
            <div class="form-group">
              <label for="specialPriceStart">New From</label>
              <div class="custom-input-group">
                <span class="custom-input-symbol"
                  ><i class="fa fa-calendar"></i
                ></span>
                <input
                  type="date"
                  class="form-control custom-input"
                  id="specialPriceStart"
                />
              </div>
            </div>

            <!-- New To -->
            <div class="form-group">
              <label for="specialPriceEnd">New To</label>
              <div class="custom-input-group">
                <span class="custom-input-symbol"
                  ><i class="fa fa-calendar"></i
                ></span>
                <input
                  type="date"
                  class="form-control custom-input"
                  id="specialPriceEnd"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-footer">
    <div class="footer-actions">
      <button class="btn btn-outline-dark save-button">Save</button>
      <button class="btn btn-primary ms-2 save-exit-button">Save & Exit</button>
    </div>
  </div>
</div>
